.popup {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  
  .start {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    background: #000000;
    border-radius: 2px;
    width: 358px;
    height: 50px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;



    outline: none;
    border: none;
    color: #FFFFFF;
    -ms-user-select: none;
            -moz-user-select: none;

            /**
             * Для конкверора
             */
            -khtml-user-select: none;

            /**
             * Для Сафари и Хрома
             */
            -webkit-user-select: none;
  }
  
  .start:hover {
    opacity: 0.8;
  }
  
  .text {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  .btn {
    display: block;
    cursor: pointer;
    background: #542fd8;
    border-radius: 2px;
    width: 358px;
  
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    border: none;
    color: #ffffff;
    -ms-user-select: none;
    -moz-user-select: none;
  
    /**
               * Для конкверора
               */
    -khtml-user-select: none;
  
    /**
               * Для Сафари и Хрома
               */
    -webkit-user-select: none;
  }
  
  .green {
    background: green;
  }
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .postgreen {
    background: rgb(2, 105, 2);
  }
  .skoko {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  
  .ver {
    color: green;
    font-size: 40px;
    line-height: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .never {
    color: red;
    font-size: 40px;
    line-height: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .prav {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  
  .neprav {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vas {
    font-size: 60px;
    line-height: 40px;
    text-align: center;
  }
  
  .ocenka {
    font-size: 110px;
    line-height: 40px;
    text-align: center;
  }
  
  
  .greenl {
    color: green;
  }
  .redl {
    color: red;
  }
  .orangel {
    color: orange;
  }
  .postgreenl {
    color: rgb(2, 105, 2);
  }

  body, html
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-size: 16px;
   font-family: helvetica, arial;
   background: #f9f9f9;
   color: #111;
}
 
.wrapper
{
   width: 100%;
   height: 100%;
   display: table;
}
 
.main
{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}
 
.quiz-frame
{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz__head
{
   font-size: 20pt;
   margin: 10px;
   margin-bottom: 50px;
}
 
.head__content
{
   padding: 5px;
}
 
.quiz__body
{
   margin: 10px;
}
 
.quiz__footer
{
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
}
 
.footer__content
{
   padding: 5px;
}
 
.button
{
   border: 0;
   border-radius: 10px;
   background: #6477EB;
   color: #fff;
   padding: 10px 25px;
   width: 70%;
   font-size: 15pt;
   display: block;
   margin: 2px auto;
   cursor: pointer;
}
 
.button_wrong
{
   background: #EB6465;
}
 
.button_correct
{
   background: #5EB97D;
}
 
.button_passive
{
   background: #B3B3B3;
}

.disabled {
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  display: none;
}